#logo img {width: 75px}

/*CATEGORIA*/
.categoria .contenedor {position: relative}
.categoria .categoria-value {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.categoria .categoria-value input {border: none}
.categoria .uploader {
    display: block;
    border: 1px solid rgba(0,0,0,.08);
    width: 100%;
    height: 200px;
}
.categoria .image {
    display: block;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.categoria .banner a {position: absolute; right: 6px; bottom: 6px}
.categoria .banner .btn:active {position: absolute; top: inherit !important; left: inherit !important}
/* ----------- */

/*SLIDER*/
.superbox-list {vertical-align: top;}
.superbox-list a.btn-danger {position: absolute; right: 6px; bottom: 6px}
.superbox-list a.btn-primary {position: absolute; right: 45px; bottom: 6px}
.superbox-list a.hide {display: block !important}
.superbox-list .btn:active {position: absolute; top: inherit !important; left: inherit !important}
.superbox-img {cursor: move; min-height: 32px;}
.superbox-img:hover {opacity: 1}
.ui-sortable-placeholder {height: auto !important; visibility: visible !important; vertical-align: top;}
.ui-sortable-placeholder::before {content: ''; display: block; outline: 1px dashed #a8a8a8; width: 100%; padding-top: 100%; box-sizing: border-box;}
#sliderImagenes .empty {margin: 60px 0; font-size: 24px; text-align: center}
/*FIN SLIDER*/

/*SUMMERNOTE*/
.summernote-loader {
    display: inline-block;
    margin: 10px 0 0 10px
}
.note-editor img {
    max-width: 620px;
    width: 100% !important;
    display: block;
}
/*----------*/

/*DATATABLES*/
.dataTable .ui-sortable-placeholder::before {content: none !important;}
.dataTable .ui-sortable-helper {height: 50px}
.dataTable .sortable {cursor: move;}
.dataTable th:last-child, .dataTable td:last-child {text-align: right;}
.dataTables_empty {text-align: center !important;}
.dataTable .row-detail th, .dataTable .row-detail td {text-align: left !important;}
.dataTable .label {cursor: pointer}
/* ----------- */

/*IMAGES UPLOADER*/
.vista-previa {position: relative}
.vista-previa a {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 6px 12px;
    display: none
}
.vista-previa .btn:active {position: absolute; top: 5px !important; left: inherit !important}

.vista-previa .description {
    position: absolute;
    bottom: 0;
    min-height: 20px;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    text-align: center;
    margin: 0
}
.vista-previa .info {width: 100%; height: 24%; position: absolute; top: 48%; text-align: center; cursor: pointer}
.vista-previa img {border: 1px solid rgba(0,0,0,.08); width: 100%; cursor: pointer}
.vista-previa label.uploader {width: 100%}
/*****************/

/*TAGS*/
div.tagsinput {
    border: 1px solid #CCC;
    background: #FFF;
    padding: 1%;
    width: 300px;
    height: 100px;
    overflow-y: auto;
}

div.tagsinput div {
    display: inline-block;
}

div.tagsinput input {
    width: 80px;
    margin: 0px;
    font-family: helvetica;
    font-size: 13px;
    border: 1px solid transparent !important;
    padding: 5px;
    background: transparent;
    color: #000;
    outline: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tags_clear {
    clear: both;
    width: 100%;
    height: 0px;
}

.tagsinput .tag {
    color: #FFF;
    position: relative;
    margin: 3px 0 3px 2px;
    display: inline-block;
    line-height: 13px
}

.tagsinput>span {
    border-radius: 0!important;
    font-weight: 400;
    padding: 3px 28px 4px 8px;
    font-size: 13px;
    border: 1px solid #285E8E;
    background: #3276B1;
}

.tagsinput .tag-remove {
    display: block;
    top: -1px;
    right: 0;
    padding: 3px;
    width: 13px;
    height: 16px;
    position: absolute;
    cursor: pointer;
}

.tagsinput .tag-remove:after {
    content: "\f057";
    font-family: fontAwesome;
    padding: 2px 1px;
    line-height: 17px;
    font-size: 15px;
    text-align: center;
}

.tagsinput .tag-remove:hover {
    background: rgba(0,0,0,.3);
}
/*********************/