AddDefaultCharset UTF-8
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^grupo$ grupob.php
RewriteRule ^grupo/([0-9a-z_-]+)$ grupob.php?slug=$1
RewriteRule ^grupos$ gruposb.php

RewriteRule ^ruleta$ ruletab.php

RewriteRule ^descargar-emails/?$ php/controllers/emailsToCsv.controller.php

RewriteRule ^login/?$ loginb.php
RewriteRule ^salir/?$ php/controllers/logout.controller.php